# Password for nuxt-auth-utils (minimum 32 characters)
NUXT_SESSION_PASSWORD=
# GitHub OAuth client ID
NUXT_OAUTH_GITHUB_CLIENT_ID=
# GitHub OAuth client secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
# Vercel AI gateway key
AI_GATEWAY_API_KEY=
# Postgres database url
DATABASE_URL=

# Google OAuth client ID
GOOGLE_CLIENT_ID=525375285533-rr3038nea8r5gdp4243hpjokqvleh945.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
REDIRECT_URI=http://localhost:3000/auth/callback
